<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Freetunnel</h1>
    <h2>{{request.url}} - {{request.method}}</h2>
    <form method="post"><input type="hidden" value="{{id}}"><input type="submit" value="Replay"></form>
    <h3>Headers</h3>
    {{#each request.headers}}
            <li><b>{{@key}}</b> - {{this}} - {{this}}</a></li>
    {{/each}}

</body>
</html>