<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{request.url}} - {{request.method}}</h1>
    <h1>Request</h1>
    <form method="post"><input type="hidden" value="{{id}}"><input type="submit" value="Replay"></form>
    <h3>Headers</h3>
    {{#each request.headers}}
            <li><b>{{@key}}</b> - {{this}}</a></li>
    {{/each}}
    <h3>Body</h3>
    <pre>
        {{request.body}}
    </pre>
    {{#request.result}}
    <h1>Response</h1>
    {{status}}
    <h3>{{status}}</h3>
    <h3>Headers</h3>
    {{#each this.headers}}
            <li><b>{{@key}}</b> - {{this}}</a></li>
    {{/each}}
    <h3>Body</h3>
    <pre>
        {{this.data}}
    </pre>
    {{/request.result}}
</body>
</html>